<h2>Review Order</h2>
<fieldset class="checkout-confirm">
  <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
</fieldset>
<div class="form-button">
  <%= submit_tag 'Proceed with Order' %>
</div>
