<% self.title = 'Natty : Careers' %>
<% @body_id = 'page-static' %>
<%= render :partial => 'spree/shared/flash_messages' %>
<div class="static-banner">
    <%= image_tag 'spree/frontend/careers_banner.png' %>
</div>
<div class="static-content">
  <div class="careers">
    <h2>Careers</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </br></br>
      <span style="color: #e96262;">
    We are always on the lookout for passionate and talented individuals to join our team. Feel free to send in an unsolicited application to us.
      </span>
    </p>

  <div class="brand-static-button">
	<a href="mailto:hello@natty.in" target="_top">Join Us</a>
  </div>

  </div>
</div>
