<% self.title = 'Natty : FAQs' %>
<% @body_id = 'page-static' %>
<%= render :partial => 'spree/shared/flash_messages' %>
<div class="static-banner">
  <%= image_tag 'spree/frontend/signup-banner.png' %>
</div>
<div class="static-content">
  <div class="faq">
    <h2 class="capitalize">Frequently Asked Questions</h2>
    
    <div class="faq-images">
        <div class="buyer"><div class="overlay"></div><div class="select-border"></div></div>
        <div class="buyer-question-mobile"></div>
        <div class="seller"><div class="overlay"></div><div class="select-border"></div></div>
        <div class="seller-question-mobile"></div>
    </div>
    
    <div class="buyer-question-desktop"></div>
    <div class="seller-question-desktop"></div>
      
      
      <div class="question-for-buyer">
	    <h3>How do I know my order has been confirmed ?</h3>
	    <p>Once your order has been logged and payment authorisation has been received, the seller confirms the receipt of the order and begins processing it. You will receive an email containing the details of your order when the seller receives it and confirms the same. In this mail you will be provided with a unique Order ID(eg. OD01202130213), a listing of item(s) you have ordered and the expected delivery time. You will also be notified when the seller ships the item(s) to you. Shipping details will be provided with the respective tracking number(s).<p>
	    
	    <h3>Is it necessary to have an account to shop on Natty ?</h3>
	    <p>Once your order has been logged and payment authorisation has been received, the seller confirms the receipt of the order and begins processing it. You will receive an email containing the details of your order when the seller receives it and confirms the same. In this mail you will be provided with a unique Order ID(eg. OD01202130213), a listing of item(s) you have ordered and the expected delivery time. You will also be notified when the seller ships the item(s) to you. Shipping details will be provided with the respective tracking number(s).<p>
	    
	    <h3>Are there any hidden charges(Octroi or Sales tax) when I make a purchase on Natty ?</h3>
	    <p>Once your order has been logged and payment authorisation has been received, the seller confirms the receipt of the order and begins processing it. You will receive an email containing the details of your order when the seller receives it and confirms the same. In this mail you will be provided with a unique Order ID(eg. OD01202130213), a listing of item(s) you have ordered and the expected delivery time. You will also be notified when the seller ships the item(s) to you. Shipping details will be provided with the respective tracking number(s).<p>
	    
	    <h3>Is it safe to use my credit/debit card on Natty ?</h3>
	    <p>Once your order has been logged and payment authorisation has been received, the seller confirms the receipt of the order and begins processing it. You will receive an email containing the details of your order when the seller receives it and confirms the same. In this mail you will be provided with a unique Order ID(eg. OD01202130213), a listing of item(s) you have ordered and the expected delivery time. You will also be notified when the seller ships the item(s) to you. Shipping details will be provided with the respective tracking number(s).<p>
	    
	    <h3>Why does the estimated time vary from seller to seller ?</h3>
	    <p>Once your order has been logged and payment authorisation has been received, the seller confirms the receipt of the order and begins processing it. You will receive an email containing the details of your order when the seller receives it and confirms the same. In this mail you will be provided with a unique Order ID(eg. OD01202130213), a listing of item(s) you have ordered and the expected delivery time. You will also be notified when the seller ships the item(s) to you. Shipping details will be provided with the respective tracking number(s).<p>             
        
        <h3>I need to return an item, how do I arrange for pickup ?</h3>
	    <p>Once your order has been logged and payment authorisation has been received, the seller confirms the receipt of the order and begins processing it. You will receive an email containing the details of your order when the seller receives it and confirms the same. In this mail you will be provided with a unique Order ID(eg. OD01202130213), a listing of item(s) you have ordered and the expected delivery time. You will also be notified when the seller ships the item(s) to you. Shipping details will be provided with the respective tracking number(s).<p>
	</div>
      
      <div class="question-for-seller">
	    <h3>Are there any hidden charges(Octroi or Sales tax) when I make a purchase on Natty ?</h3>
	    <p>Once your order has been logged and payment authorisation has been received, the seller confirms the receipt of the order and begins processing it. You will receive an email containing the details of your order when the seller receives it and confirms the same. In this mail you will be provided with a unique Order ID(eg. OD01202130213), a listing of item(s) you have ordered and the expected delivery time. You will also be notified when the seller ships the item(s) to you. Shipping details will be provided with the respective tracking number(s).<p>
	    
	    <h3>Is it safe to use my credit/debit card on Natty ?</h3>
	    <p>Once your order has been logged and payment authorisation has been received, the seller confirms the receipt of the order and begins processing it. You will receive an email containing the details of your order when the seller receives it and confirms the same. In this mail you will be provided with a unique Order ID(eg. OD01202130213), a listing of item(s) you have ordered and the expected delivery time. You will also be notified when the seller ships the item(s) to you. Shipping details will be provided with the respective tracking number(s).<p>
	    
	    <h3>Why does the estimated time vary from seller to seller ?</h3>
	    <p>Once your order has been logged and payment authorisation has been received, the seller confirms the receipt of the order and begins processing it. You will receive an email containing the details of your order when the seller receives it and confirms the same. In this mail you will be provided with a unique Order ID(eg. OD01202130213), a listing of item(s) you have ordered and the expected delivery time. You will also be notified when the seller ships the item(s) to you. Shipping details will be provided with the respective tracking number(s).<p>             
        
        <h3>I need to return an item, how do I arrange for pickup ?</h3>
	    <p>Once your order has been logged and payment authorisation has been received, the seller confirms the receipt of the order and begins processing it. You will receive an email containing the details of your order when the seller receives it and confirms the same. In this mail you will be provided with a unique Order ID(eg. OD01202130213), a listing of item(s) you have ordered and the expected delivery time. You will also be notified when the seller ships the item(s) to you. Shipping details will be provided with the respective tracking number(s).<p>
	</div>
      
	
  </div>


  <div class="still-have-question">
     <h2>Still have questions ?</h2>
     <p>Write to us and we will help you resolve your issue.</p>
     <div class="brand-static-button">
	       <%= link_to 'Contact Us', spree.contact_path %>
     </div>

  </div>
  
  <div class="static-footer">
       <%= render :partial => 'spree/shared/user_static' %>
  </div>
    
</div>
