<div class="footer">
    <div class="pull-right">
      Site by <a href="//concretelabs.co">Concrete Labs</a>
    </div>
    <div>
        <strong>&copy;</strong> <%= Time.now.year %> Natty. All Rights Reserved. <a href="#"><em>Terms &amp; Conditions</em></a> and <a href="#"><em>Privacy Policy</em></a>.
    </div>
</div>
