<div id="wrapper">
  <%= render 'spree/supplier/layouts/navigation' %>
    <div id="page-wrapper" class="gray-bg">
      <%= render 'spree/supplier/layouts/topnavbar' %>
      <%= yield :dashboard %>
      <%= render 'spree/supplier/layouts/footer' %>
    </div>
</div>
