<div class="signup-static" id="whyshop">
  <h3><%= fa_icon 'heart' %> Products created for you, <span>With Love.</span></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac neque tellus. Pellentesque gravida vehicula metus, et aliquet lorem. Nam in massa a sapien efficitur tempus. Pellentesque mollis augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac neque tellus. Pellentesque gravida vehicula metus, et aliquet lorem. Nam in massa a sapien efficitur tempus. Pellentesque mollis augue.</p>
</div>
<div class="signup-static-image">
  <!-- <%= image_tag 'spree/frontend/user-static.png' %> -->
	<div class="static-img-container">
	  <div class="content">
	    <span class="fa fa-diamond"></span>
	    <span>Beautiful Products</span>
	    <span></span>
	    <span>across various categoies</span>
	  </div>
	    <div class="content">
	    <span class="fa fa-star"></span>
	    <span>Curated Brands</span>
	    <span></span>
	    <span>exclusively handpicked for you</span>
	  </div>
	    <div class="content">
	    <span class="fa fa-cube"></span>
	    <span>Delivered to you</span>
	    <span></span>
	    <span>and hassle free returns</span>
	  </div>
	</div>
</div>
<div class="signup-static">
  <div class="signup-static-button">
    <%= link_to 'Sign Up Now', spree.signup_path %>
  </div>
</div>
